*.gmo
*.o
*.la
*.so
*.a
.deps
.intltool-merge-cache
.intltool-merge-cache.lock
.libs
aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.in
configure.ac
depcomp
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
m4
missing
mkinstalldirs
POTFILES
stamp-it
stamp-h1
thunar-volman-settings.desktop
texput.log
thunar-volman-*.tar.bz2
thunar-volman-settings/thunar-volman-settings
thunar-volman/thunar-volman