*.gmo
*.o
*.la
*.so
*.a
.deps
.intltool-merge-cache
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.in
depcomp
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
mkinstalldirs
POTFILES
stamp-it
stamp-h1
thunar-volman-settings.desktop
texput.log
